<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://s3.amazonaws.com/dataskeptic.com/ds_sm.jpg">
    </a>
    <h2>Data Skeptic</h2>
    <h1>Careers</h1>
  </div>
</div>

<div class="container  text-center">
  <h1>COMING SOON</h1>
  <p>Let us help you explore your future as a data professional.</p>
</div>

</body>
</html>
